<div>
  <h2>Remote Access Module</h2>
</div>

<div>
  <label><span>Location : </span> <br>
    <select [(ngModel)] = "selectedLocation">
      <option *ngFor = "let data of com"
        [value] = "data.location"
        [attr.selected] = "selectedLocation==data.location ? true : null">{{data.location}}
      </option>
    </select>
  </label>
</div>


<div>
  <label><span>Machine Name : </span> <br>
    <select [(ngModel)] = "selectedMachine">
      <option *ngFor = "let data of com"
        [value] = "data.cname"
        [attr.selected] = "selectedMachine==data.cname ? true : null">{{data.cname}}
      </option>
    </select>
  </label>
</div>

<h3> OR </h3>

  <div>
    <form [(ngModel)] = "selectedTicket">
      Ticket #: <input type="number" >
    </form>
  </div>
  <h1>{{selectedTicket}}</h1>


<div *ngIf ="selectedMachine">
  <h3> Remote Access History </h3>
  <table>
    <tr>
      <th>Machine Name: </th>
      <th>Username: </th>
      <th>eID: </th>
      <th>Department: </th>
      <th>Location: </th>
      <th>Memory: </th>
      <th>CPU: </th>
      <th>IP Address: </th>
      <th>Model #: </th>
      <th>Serial #: </th>
    </tr>
    <tr>
      <td *ngFor = "let data of com">
        {{selectedMachine.toString()}}
        {{com.indexOf(selectedMachine.toString())}}
      </td>
    </tr>
  </table>

<h3> Spiceworks Tickets </h3>

  <table>
    <tr>
      <th>Ticket #</th>
      <th>Created By: </th>
      <th>Summary</th>
      <th>Description</th>
      <th>Status</th>
      <th>Category</th>
      <th>Department</th>
      <th>Assigned to</th>
      <th>Create Date</th>
      <th>Close Date</th>
      <th>Priority</th>
    </tr>
    <tr>
      <td *ngFor = "let data of ticket">
          {{data.ticketN}}
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.createdBy}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.summary}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.descr}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.status}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.category}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.status}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.category}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.assign}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.createDate}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.closeDate}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let data of ticket">
            {{data.priority}}
          </li>
        </ul>
      </td>
    </tr>
  </table>

</div>
