<div class="header-container indent1" id="header1">
  <h2>href="logoaddress + font" K-State + ListIcon.png, [username]</h2>
</div>

<div>
  <h2>Remote Access Module</h2>
</div>

<div class = "area">
  <div class = "sidebar">
    <ul>
      <li>
        Test
      </li>
    </ul>
  </div>
</div>

<div class="space displace">
  <label><span>Department : </span> <br>
    <select [(ngModel)] = "selectedDepartment">
      <option *ngFor = "let data of ticket"
        [value] = "data.department"
        [attr.selected] = "selectedDepartment==data.department ? true : null">{{data.department}}
      </option>
    </select>
  </label>
</div>


<div class="space">
  <label><span>Machine Name : </span> <br>
    <select [(ngModel)] = "selectedMachine">
      <option *ngFor = "let data of com"
        [value] = "data.cname"
        [attr.selected] = "selectedMachine==data.cname ? true : null">{{data.cname}}
      </option>
    </select>
  </label>
</div>

  <div class = "space">
    <form [(ngModel)] = "selectedTicket">
      Ticket #: <input type="number" >
    </form>
  </div>
  <h1>{{selectedTicket}}</h1>


<div *ngIf ="selectedMachine">
  <div *ngFor = "let number of [0,1,2,3,4,5]">
    <div *ngIf = "com[number].cname == selectedMachine">
  <h2> Machine Information : {{com[number].cname}}</h2>
  <h3>Current logged in as: {{ticket[number].eID}}</h3>
  <table>
    <tr>
      <th>Department </th>
      <th>Location </th>
      <th>Memory </th>
      <th>CPU </th>
      <th>IP Address </th>
      <th>Model # </th>
      <th>Serial #</th>
    </tr>
      <tr >
        <td>
          {{ticket[number].department}}
        </td>
        <td>
          {{com[number].location}}
        </td>
        <td>
          {{com[number].ramsize}} GB
        </td>
        <td>
          {{com[number].cpu}}
        </td>
        <td>
          {{com[number].ip}}
        </td>
        <td>
          {{com[number].model}}
        </td>
        <td>
          {{com[number].serial}}
        </td>
      </tr>
  </table>

<h3> Remote Access History </h3>
  <table>
    <tr>
      <th> Machine Name </th>
      <th> Logged in as </th>
      <th> Login Time </th>
      <th> Logout Time </th>
    </tr>
    <tr>
      <td>{{com[number].cname}}</td>
      <td>{{history[number].name}}</td>
      <td>{{history[number].loginT}}</td>
      <td>{{history[number].logoutT}}</td>
    </tr>

  </table>


<h3> User Tickets </h3>

  <table>
    <tr>
      <th>Ticket #</th>
      <th>Created By: </th>
      <th>Status</th>
      <th>Category</th>
      <th>Assigned to</th>
      <th>Create Data</th>
      <th>Priority</th>
      <th>Department</th>
    </tr>
    <tr *ngFor = "let data of ticket">
      <td>
        {{data.ticketN}}
      </td>
      <td>
        {{data.createdBy}}
      </td>
      <td>
        {{data.status}}
      </td>
      <td>
        {{data.category}}
      </td>
      <td>
        {{data.assign}}
      </td>
      <td>
        {{data.createDate}}
      </td>
      <td>
        {{data.priority}}
      </td>
      <td>
        {{data.department}}
      </td>
    </tr>
  </table>

  <div>
    <h3> Description </h3>
    <a >
      {{ticket[number].descr}}
    </a>
  </div>

  <h3> Status: </h3>
  <a>
      {{ticket[number].status}}
  </a>

</div>
